#dogBtn{
    padding: 10px 20px 10px 20px;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: 2px solid black;
    color: rgb(47, 255, 75);
    background-color: black;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
body{
    background-color:bisque;
}
#dogBtn:hover{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    border: 3px solid black;
    background-image: linear-gradient(red, rgb(88, 88, 240));
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}