#dogBtn{
    padding: 2%;
    border-radius: 8%;
    border: 2px solid black;
    color: rgb(47, 255, 75);
    background-color: black;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 53;
}
#dogBtn:hover{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    background-image: linear-gradient(rgb(226, 2, 226), rgb(88, 88, 240));
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}